Repository attakei/sphinx-revealjs: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, mypy, doc8

ruff:
  run: uv run ruff format {staged_files}
  stage_fixed: true

mypy:
  run: uv run mypy {staged_files}

doc8:
  run: uv run doc8 {staged_files}

fix: Support localfile on data-background by revealjs_vertical and revealjs_break
  sphinx_revealjs/directives.py
  sphinx_revealjs/writers.py
  tests/roots/test-default/with-section-directives/with-vertical-background-iframe-local.rst
  tests/test_directives/test_section.py
Due: ruff, mypy, doc8

fix: implement background for revealjs_breaks
  sphinx_revealjs/writers.py
  tests/roots/test-default/with-section-directives/with-break-background-iframe-local.rst
  tests/test_directives/test_section.py
Due: ruff, mypy, doc8

release: Version 3.1.3
  .age.toml
  .github/release-body.md
  CHANGELOG.rst
  demo/index.rst
  sphinx_revealjs/__init__.py
Due: ruff, mypy, doc8

build(deps): Use latest Reveal.js
  npm-shrinkwrap.json
  package.json
Due: none

docs: Update deps
  pyproject.toml
  uv.lock
Due: none

Revert "Update reveal.js from v5.1.0 to 5.2.0"
  npm-shrinkwrap.json
  package.json
Due: none

refactor: Migrate deps correctly
  pyproject.toml
Due: none

chore: Update
  Taskfile.yaml
Due: none

release: Version 3.1.4
  .age.toml
  .github/release-body.md
  CHANGELOG.rst
  demo/index.rst
  sphinx_revealjs/__init__.py
  uv.lock
Due: ruff, mypy, doc8

chore: Update dependencies
  pyproject.toml
  uv.lock
Due: none

refactor: Change arguments keeping compatibility
  sphinx_revealjs/__init__.py
Due: ruff, mypy

refactor: Mark ignore for MyPy
  sphinx_revealjs/builders.py
Due: ruff, mypy

feat: Mark required Sphinx version
  sphinx_revealjs/__init__.py
Due: ruff, mypy

ci: Try building demo on workflow
  .github/workflows/main.yml
Due: none

refactor: Migrate class (old class is removed)
  sphinx_revealjs/_ext/notes.py
Due: ruff, mypy

refactor: Migrate imports for type-annotations
  sphinx_revealjs/__init__.py
  sphinx_revealjs/_ext/highlightings.py
  sphinx_revealjs/_ext/notes.py
  sphinx_revealjs/builders.py
  sphinx_revealjs/contexts.py
  sphinx_revealjs/deprecated.py
  sphinx_revealjs/directives.py
  sphinx_revealjs/ext/footnotes/__init__.py
  sphinx_revealjs/ext/screenshot.py
  sphinx_revealjs/utils.py
  sphinx_revealjs/writers.py
  tests/conftest.py
  tests/test_comments.py
  tests/test_configurations/test_adding_files.py
  tests/test_configurations/test_complex_variables.py
  tests/test_configurations/test_generatings.py
  tests/test_configurations/test_scripts.py
  tests/test_configurations/test_theme.py
  tests/test_configurations/test_use_section_ids.py
  tests/test_deprecated.py
  tests/test_directives/test_break.py
  tests/test_directives/test_code_block.py
  tests/test_directives/test_fragments.py
  tests/test_directives/test_literalinclude.py
  tests/test_directives/test_notes.py
  tests/test_directives/test_section.py
  tests/test_directives/test_slide.py
  tests/test_extensions/test_footnotes.py
  tests/test_extensions/test_screenshot.py
  tests/test_generatings.py
  tests/test_other_builders.py
  tests/test_section.py
  tests/test_theme.py
  tests/testutils.py
Due: ruff, mypy

refactor: Fix up type ignores
  sphinx_revealjs/__init__.py
  sphinx_revealjs/_ext/highlightings.py
  sphinx_revealjs/_ext/notes.py
  sphinx_revealjs/builders.py
  sphinx_revealjs/directives.py
  sphinx_revealjs/nodes.py
  sphinx_revealjs/writers.py
Due: ruff, mypy

refactor: Remove duplicated
  sphinx_revealjs/builders.py
Due: ruff, mypy

demo(refactor): To work build with Reveal.js 5.2.0
  demo/_sass/custom.scss
  demo/_static/.gitignore
  demo/conf.py
  pyproject.toml
  uv.lock
Due: ruff

demo(fix): Set correct style path
  demo/conf.py
Due: ruff

feat(sass): Define new sub-extension (empty)
  sphinx_revealjs/ext/sass/__init__.py
Due: ruff, mypy

feat(sass): Migrate features from other extensions
  sphinx_revealjs/ext/sass/.gitignore
  sphinx_revealjs/ext/sass/__init__.py
  sphinx_revealjs/ext/sass/dart_sass.py
Due: ruff, mypy

feat(sass): Auto target finder
  sphinx_revealjs/ext/sass/__init__.py
Due: ruff, mypy

feat(sass): Supress warnings of dart-sass
  sphinx_revealjs/ext/sass/__init__.py
Due: ruff, mypy

demo: Re-update for latest extensions
  demo/_static/.gitignore
  demo/conf.py
Due: ruff

fix(sass): Use http-client installed already by deps
  pyproject.toml
  sphinx_revealjs/ext/sass/dart_sass.py
  uv.lock
Due: ruff, mypy

feat: Upgrade Reveal.js
  npm-shrinkwrap.json
  package.json
Due: none

ci(sass): Add small tests
  tests/roots/test-sass/_static/style.scss
  tests/roots/test-sass/_static/style2.scss
  tests/roots/test-sass/conf.py
  tests/roots/test-sass/index.rst
  tests/test_extensions/test_sass.py
Due: ruff, doc8

feat(sass): Append prefix into config names
  sphinx_revealjs/ext/sass/__init__.py
  tests/roots/test-sass/conf.py
  tests/test_extensions/test_sass.py
Due: ruff, mypy

doc(sass): Add page
  doc/conf.py
  doc/optional-extensions/sass.rst
  pyproject.toml
  uv.lock
Due: ruff, doc8

feat(oembed): Generate oEmbed content data
  sphinx_revealjs/ext/oembed.py
Due: ruff, mypy

feat(oembed): Inject metatag to refer content into html
  sphinx_revealjs/ext/oembed.py
Due: ruff, mypy

feat(oembed): Set iframe html into json
  sphinx_revealjs/ext/oembed.py
Due: ruff, mypy

fix(oembed): Set dummy query params
  sphinx_revealjs/ext/oembed.py
Due: ruff, mypy

ci(oembed): Add tests
  tests/roots/test-oembed/conf.py
  tests/roots/test-oembed/index.rst
  tests/roots/test-oembed/with-directive.rst
  tests/test_extensions/test_oembed.py
Due: ruff, doc8

demo: Generate oEmbed content with demo
  demo/conf.py
Due: ruff

doc(oembed): Write first page
  doc/optional-extensions/oembed.rst
Due: doc8

demo: Fix URL of alternate
  demo/conf.py
Due: ruff

Path conditions:
  ruff: any of: *.py
  mypy: any of: *.py, but not: **/conf.py, tests/**
  doc8: any of: *.rst
