Repository attakei/sphinx-revealjs: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, mypy, doc8

ruff:
  run: uv run ruff format {staged_files}
  stage_fixed: true

mypy:
  run: uv run mypy {staged_files}

doc8:
  run: uv run doc8 {staged_files}

fix: Configure for working doc8
  lefthook.yml
  pyproject.toml
Due: none

refactor: Format by ruff (current locked version)
  sphinx_revealjs/writers.py
  tests/roots/test-default/conf.py
  tests/roots/test-for-commented-notes/conf.py
  tests/roots/test-for-config/conf.py
  tests/roots/test-includes/conf.py
  tests/roots/test-viewports/conf.py
Due: ruff, mypy

refactor: Mark ignore for mypy
  lefthook.yml
  sphinx_revealjs/writers.py
Due: ruff, mypy

chore: Configure go-task
  .mise.toml
  Taskfile.yaml
  demo/Taskfile.yaml
  doc/Taskfile.yaml
  doc/conf.py
Due: ruff

chore: Add deps for local workspace
  pyproject.toml
  uv.lock
Due: none

chore: Setup func
  Taskfile.yaml
  tools/fetch_revealjs.py
Due: ruff, mypy

doc: Fix for current workspace
  doc/local-workspace.rst
Due: doc8

refactor: Mark ignore for mypy
  sphinx_revealjs/__init__.py
Due: ruff, mypy

refactor:
  pyproject.toml
  sphinx_revealjs/_ext/highlightings.py
  sphinx_revealjs/_ext/notes.py
  sphinx_revealjs/directives.py
  sphinx_revealjs/nodes.py
  uv.lock
Due: ruff, mypy

fix: Update for mypy
  sphinx_revealjs/nodes.py
  sphinx_revealjs/writers.py
Due: ruff, mypy

fix: revealjs-section supports relative image for background
  sphinx_revealjs/directives.py
  sphinx_revealjs/writers.py
  tests/roots/test-default/with-section-directives/images/photo.jpg
  tests/roots/test-default/with-section-directives/with-background-image.rst
  tests/test_directives/test_section.py
Due: ruff, mypy, doc8

ci: Toggle type of rootdir for sphinx version
  tests/conftest.py
Due: ruff, mypy

fix: Keep known attributes of `docutils.nodes.Element`
  sphinx_revealjs/directives.py
Due: ruff, mypy

release: Version 3.1.0
  .age.toml
  .github/release-body.md
  CHANGELOG.rst
  demo/index.rst
  sphinx_revealjs/__init__.py
Due: ruff, mypy, doc8

fix: Update workflows
  .github/workflows/deploy-demo.yml
  .github/workflows/release.yml
Due: none

chore: Lock uv current version
  .mise.toml
Due: none

ci: Update workflow to fix deprecated
  .github/workflows/deploy-demo.yml
  .github/workflows/release.yml
Due: none

chore: Add mark for python 3.13
  .github/workflows/main.yml
  pyproject.toml
Due: none

fix: Fallback when literal_block does not have 'language' attr
  sphinx_revealjs/writers.py
Due: ruff, mypy

release: Version 3.1.1
  .age.toml
  .github/release-body.md
  CHANGELOG.rst
  demo/index.rst
  sphinx_revealjs/__init__.py
Due: ruff, mypy, doc8

ci: Update action
  .github/workflows/release.yml
Due: none

Rename to add comments
  renovate.json5
Due: none

chore: Renovate ignore python and npm files
  renovate.json5
Due: none

chore: Renovate manage only GitHub Actions
  renovate.json5
Due: none

chore: Fix typo of settings
  renovate.json5
Due: none

ci: Skip test when libmacgic is not installed (windows)
  tests/test_extensions/test_screenshot.py
Due: ruff, mypy

chore: Explicit installation browser for scrrenshot
  .github/workflows/deploy-demo.yml
  .github/workflows/main.yml
  doc/local-workspace.rst
  doc/optional-extensions/screenshot.rst
Due: doc8

chore: Local workspace require browsrer of playwright
  Taskfile.yaml
Due: none

doc: Ignore linting error for cross-platforrm
  pyproject.toml
Due: none

doc: For working on Windows
  doc/Taskfile.yaml
  doc/_tools/clean-apidoc.py
Due: ruff, mypy

doc: Update deps for i18n on workspace
  pyproject.toml
  uv.lock
Due: none

chore: Not manage i18n files yet
  Taskfile.yaml
Due: none

fix: Support background video on media directory
  sphinx_revealjs/directives.py
  sphinx_revealjs/writers.py
  tests/roots/test-default/with-section-directives/video/sample.mp4
  tests/roots/test-default/with-section-directives/with-background-video.rst
  tests/test_directives/test_section.py
Due: ruff, mypy, doc8

fix: Support to set local files into data-background-iframe
  sphinx_revealjs/directives.py
  sphinx_revealjs/writers.py
  tests/roots/test-default/with-section-directives/iframe/sample.html
  tests/roots/test-default/with-section-directives/with-background-iframe.rst
  tests/test_directives/test_section.py
Due: ruff, mypy, doc8

fix: Fix cases that `data-background-` item is not local file
  sphinx_revealjs/directives.py
  tests/roots/test-default/with-section-directives/with-background-iframe-local.rst
  tests/roots/test-default/with-section-directives/with-background-iframe.rst
  tests/roots/test-default/with-section-directives/with-background-image-local.rst
  tests/roots/test-default/with-section-directives/with-background-video-local.rst
  tests/test_directives/test_section.py
Due: ruff, mypy, doc8

demo(refactor): Rename importing extension
  demo/conf.py
Due: ruff

demo(refactor): Reorder extensions by groups
  demo/conf.py
Due: ruff

demo: Update translation
  demo/_locales/ja/LC_MESSAGES/index.po
Due: none

chore: Use timezeone name for changelog
  .age.toml
Due: none

release: Version 3.1.2
  .age.toml
  .github/release-body.md
  CHANGELOG.rst
  demo/index.rst
  sphinx_revealjs/__init__.py
Due: ruff, mypy, doc8

Path conditions:
  ruff: any of: *.py
  mypy: any of: *.py, but not: **/conf.py
  doc8: any of: *.rst
