Repository attakei/sphinx-revealjs: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, mypy, doc8

lefthook.yml:

# Important!
#   This hooks require uv to

pre-commit:
  parallel: true
  commands:
    ruff:
      glob: '*.py'
      run: 'uv run ruff format {staged_files}'
      stage_fixed: true
    mypy:
      glob: '*.py'
      exclude:
        - '**/conf.py'
        - 'tests/**'  # NOTE: Skip until if I want to clean overall.
      run: 'uv run mypy {staged_files}'
    doc8:
      glob: '*.rst'
      run: 'uv run doc8 {staged_files}'

demo: Update settings for new impl
  demo/conf.py
Due: ruff

feat(sass): Include revealjs assets in default
  sphinx_revealjs/ext/sass/__init__.py
Due: ruff, mypy

doc: Insert demo presentation
  doc/_static/custom.css
  doc/conf.py
  doc/index.rst
  pyproject.toml
  uv.lock
Due: ruff, doc8

doc: Update guide to create custom theme in project
  doc/tips/create-custom-theme.rst
Due: doc8

doc: Skip oEmbed content from latex build
  doc/index.rst
Due: doc8

release: Version 3.2.0
  .age.toml
  .github/release-body.md
  CHANGELOG.rst
  demo/index.rst
  sphinx_revealjs/__init__.py
Due: ruff, mypy, doc8

chore: Use aqua instead of mise
  .github/workflows/deploy-demo.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .mise.toml
  aqua.yaml
Due: none

ci: Monitor aqua settings by Renovate
  renovate.json5
Due: none

chore: Enable automerge by Renovate
  renovate.json5
Due: none

chore: Update env
  .gitattributes
  doc/_tools/clean-apidoc.py
Due: ruff, mypy

chore: Use aqua
  .github/workflows/deploy-demo.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  aqua.yaml
Due: none

feat(ext-design): Init extension
  sphinx_revealjs/ext/design/__init__.py
  tests/test_extensions/test_design/__init__.py
  tests/test_extensions/test_design/test_it.py
Due: ruff, mypy

feat(highlightjs): Add script_appended_files to run scripts after loading highlight.js
  CHANGELOG.rst
  doc/configurations.rst
  doc/tips/include-highlightjs-packages.rst
  sphinx_revealjs/__init__.py
  sphinx_revealjs/builders.py
  sphinx_revealjs/contexts.py
  sphinx_revealjs/themes/revealjs-basic/page.html
  sphinx_revealjs/themes/revealjs-simple/page.html
Due: ruff, mypy, doc8

feat(design): Define sub-extension to use flex layout as columns
  sphinx_revealjs/ext/design/columns.py
Due: ruff, mypy

ci: Test by Python 3.14
  .github/workflows/main.yml
Due: none

feat(design): Add patern to split section by columns
  Taskfile.yaml
  aqua.yaml
  sphinx_revealjs/ext/design/.gitignore
  sphinx_revealjs/ext/design/Taskfile.yaml
  sphinx_revealjs/ext/design/_sass/columns.scss
  sphinx_revealjs/ext/design/columns.py
Due: ruff, mypy

fix: Remove deprecated log due to keep as specs
  sphinx_revealjs/contexts.py
Due: ruff, mypy

doc: Add details for usage `revealjs_script_conf`
  doc/configurations.rst
Due: doc8

chore: Fix logic of age-cli
  .age.toml
Due: none

demo: Use region name instead of timezone code
  demo/index.rst
Due: doc8

release: Version 3.2.1
  .age.toml
  .github/release-body.md
  CHANGELOG.rst
  demo/index.rst
  sphinx_revealjs/__init__.py
Due: ruff, mypy, doc8

feat: Migrate sphinx-revealjs-float as optional extension
  doc/optional-extensions/float.rst
  sphinx_revealjs/ext/float.py
  tests/roots/test-float/conf.py
  tests/roots/test-float/index.rst
  tests/test_extensions/test_float.py
Due: ruff, mypy, doc8

fix: Fix title overline in test RST file to pass doc8 linting
  tests/roots/test-float/index.rst
Due: doc8
